h1 {
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 40px;
}

#note_title_input {
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

#note_input {
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

h2 {
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 32px;
}

#content {
    margin-top: 8px;
    margin-left: 20px;
    background-color: beige;
    width: 300px;
}

#content p {
    padding-left: 20px;
    padding-top: 8px;
}

#content button {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.line {
    background-color: white;
    height: 16px;
    margin-left: 0;
}

#trash_content {
    margin-left: 20px;
    margin-top: 8px;
    background-color: coral;
    width: 300px;
}

#trash_content button {
    margin-top: 8px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

#trash_content p {
    margin-left: 20px;
    padding-top: 8px;
}